
li a, li a:hover, .navbar{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Press Start 2P';
    border-radius: 15%;
}
.navbar {
    background-color:rgba(77, 76, 76, 0.986);
    color:#dfceb9;
}
.navbar1 {
    background-color:rgba(179, 51, 51, 0.986);
}
.navbar2 {
    background-color:rgba(58, 155, 20, 0.986);
}
.navbar3 {
    background-color:rgba(63, 99, 190, 0.986);
}
.navbar:hover {
    display: inline-block; 
    background-color:rgba(77, 76, 76,0.5);
    color:#F8F0E5;
}
.navbar:active {
    transition-duration: 0.5s;
    transform:translateY(5px);
    background-color:goldenrod;
    color: black;
}

p::first-letter{
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
    color: goldenrod;
}
p::first-line{
    font-style: italic;
}

#logo {
    width: 150px;
    left:50px;
    position: absolute;
}
#link-main {
    display:contents;
    background-color:none;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.text-blocks {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.64);
    color: #F8F0E5;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
#text1 {
    bottom: 290px;
    right: 30px;
    text-align: right;
}
#text2 {
    bottom: 30px;
    left:30px;
    width: 330px
}
#text3 {
    bottom: -400px;
    right: 30px;
    width: 330px;
    text-align: right;
}
.columns {
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    column-count: 3 ;
    column-gap: 25px;
    column-rule: 4px;
    font-size: 18px;
    word-spacing: 2px;
    background-color: #DAC0A3;
    border-radius: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.columns h2 {
    font-family:'Press Start 2P';
    font-size: 25px;
    display:-webkit-inline-flex;
    background-color: #0F2C59;
    color: #F8F0E5;
    padding: 8px;
}
p a {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 30px;
    color: goldenrod;
    letter-spacing: 2px;
    display:inline-table;
}
p>a[href$=".pdf"] {
    background: url(pdf_icon.png) no-repeat left center;
    background-size: 30px;
    padding-left: 30px;
}
p>a[href$=".docx"] {
    background: url(word_icon.png) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;
}
figcaption{
    font-family:'ArcadeClassic', sans-serif ;
    display: contents;
    font-size: 20px;
}
figcaption+p{
    font-family:'ArcadeClassic', sans-serif ;
    display:contents;
    font-size: 20px;
    color:#183c72d3;
}
.text_block{
    background-image: url(pixel_art.avif);
    opacity: 0.78;
    border-radius:15px;
    font-size: 30px;
    font-family:'ArcadeClassic', sans-serif ;
    text-align: center;
    color:whitesmoke;
    word-spacing: 20px;
    padding: 20px 20px;
    margin: auto;
    width: 500px;
    height:100px;
    overflow: scroll;
    padding: 10px 15px;
    border: 10px solid transparent;
    border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-6.svg") 30 repeat;
}
